@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: 
  linear-gradient(
    180deg, 
    #1B1B1F 0%, 
    rgba(22, 68, 130, 0) 164.67%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #164482 80%,
    #19171C 100%
  );
}

.bg-blue-gradient2 {
  background: linear-gradient(
    95.02deg,
    #12B2F3 24.38%, 
    rgba(21, 106, 169, 0.87) 74.19%,
    #164482 116.59%
  );
}

.box {
  display: flex;
  padding: 16px;
  background-color: transparent;
  border: 3px solid rgb(36, 153, 243);
  border-radius: 12px;
  gap: 8px;
  flex-shrink: 0;
}

.box:hover {
  border: transparent;
}

.box1 {
  display: flex;
  padding: 16px;
  border-radius: 12px;
  gap: 8px;
  flex-shrink: 0;
}


.bg-vector {
  background-image: url(./assets/Vector.svg);
  background-size: cover;
  width: 452.5px;
  height: 141px;
  flex-shrink: 0;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-bluesq-grad {
  background: linear-gradient(
    15.2deg, 
    rgba(22, 68, 130, 0.8) 30.5%, 
    rgba(255, 255, 255, 0) 115.25%, 
    rgba(255, 255, 255, 0) 115.25%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.Hero {
  background-image: url(./assets/Hero.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.offerings {
  background:linear-gradient(180deg, #1B1B1F 0%, rgba(22, 68, 130, 0.00) 164.67%), url('./assets/about_us.png'); 
  ;
  background-size: cover;
  background-position: center;
  height: 242px;
  width: auto;  
}

.bg-gray {
  background: #f4f1f1e7;
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.btn__border {
  border-width: 4px;
  border-image: url(./assets/border.png) 30 30 repeat;
  border-style: solid;
  border-color: transparent;
  border-radius: 16px;
}